html, body {
    margin: 0;
    padding: 0;
    background: #fff;
    color: #111;
    font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial;
  }
  
  a { text-decoration: none; }
  * { box-sizing: border-box; }
  